
.icon-audiojungle:before { content: '\e800'; } /* '' */
.icon-codecanyon:before { content: '\e801'; } /* '' */
.icon-envato:before { content: '\e802'; } /* '' */
.icon-graphicriver:before { content: '\e803'; } /* '' */
.icon-themeforest:before { content: '\e804'; } /* '' */
.icon-videohive:before { content: '\e805'; } /* '' */
.icon-3docean:before { content: '\e806'; } /* '' */